---
title: About SysAdmin @ Home
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="About SysAdmin @ Home" image_anchor="bottom" height="min" >}}
<!-- Add image to this directory called 'featured-background.jpg' to have a top image. -->

<p class="lead mt-3">We're on a mission to help put a server into everyone's home.
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}
<h1 class="text-center">Learn. Build. Maintain. Enjoy.</h1>
{{% /blocks/lead %}}


{{< blocks/section >}}
<div class="col-12">
<h1 class="text-left">Learn</h1>
It's easy to look up directions online on how to set up your own server at home and follow the instructions exactly to get a working service. But if something is not quite right or software versions have changed you may find yourself stuck with a broken service.
<br/>
This is why learning how to think and work like a systems administrator is important to running your own server at home. Will this site teach you all you need to know about being a Linux Sys Admin? Not a chance! But we'll try to teach fundamental skills in addition to how to successfully set up your own server at home.
<br/><br/>
<ul>
  <li>Check out <a href="" alt="Sys Admin 101">Sys Admin 101</a> to follow a course-like flow on the fundamentals of being a systems administrator.</li>
  <li>The <a href="" alt="Articles">Articles</a> section provides detailed step-by-step instructions on setting up your own services at home.</li>
</ul>
</div>
{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col-12">
<h1 class="text-left">Build</h1>
There are plenty of articles online explaining how to set up this service or that, many of them may be better than the ones provided here. But very few people talk about the hardware needed to run these services.
<br/>
We'll go over the various different hardware options that you can use to host your own server at home and the advantages and disadvantages of such. From a humble little Raspberry Pi to a rack mounted super computer we'll help you find the right tool for the job and help you set it up.
<br/><br/>
<ul>
  <li>Take a look in <a href="" alt="Articles">Articles</a> for posts on how to choose and build/acquire your own personal sever.</li>
</ul>
</div>
{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col-12">
<h1 class="text-left">Maintain</h1>
You picked out a server, got it set up, and even have a service running on it, now it's time to secure and maintain that server to keep it running. A home server is not an appliance, you don't just plug it into the wall and let it go. It needs regular maintenance to prevent it from being compromised but also running at full performance and features.
<br/>
Server maintenance isn't the sexy and fun part of running a server at home, but it's an important one. But if you follow the steps outlined above it shouldn't take much and should be simple to do.
<br/><br/>
<ul>
  <li>The <a href="" alt="Articles">Articles</a> section will have posts and articles on how to secure and maintain your server and why.</li>
  <li>When in doubt jump over to <a href="" alt="Tidbits">Tidbits</a> to remember the couple one line commands you need to get your box up and running again.</li>
</ul>
</div>
{{< /blocks/section >}}

{{< blocks/section >}}
<div class="col-12">
<h1 class="text-left">Enjoy</h1>
You've done it! You now have a server running a service that hopefully will make your life easier, better, or both. Now enjoy the freedom that comes from having your own server under your control providing the service you need!
</div>
{{< /blocks/section >}}