+++
title = "SysAdmin @ Home"
linkTitle = "sysadminathome"

+++

{{< blocks/cover title="Welcome to SysAdmin @ Home!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	The goal of this site is simple and reminiscent of the early goal of Microsoft to put a computer on every desk. Our goal is <b>to provide the knowledge needed for anyone to acquire, configure, and maintain a home server!</b>
	The site has four major sections: Articles, Tidbits, Tutorials, & Sys Admin 101.
	<br/><br/>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="">
		Articles <i class="fas fa-paragraph ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="">
		Tidbits <i class="fas fa-receipt ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="">
		Tutorials <i class="fas fa-terminal ml-2 "></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="">
		Sys Admin 101 <i class="fas fa-university ml-2 "></i>
	</a>
	<p class="lead mt-5">If you have some Linux sys admin experience and would like to share, check out our <a href="">how to contribute</a> page or send an email to michael [at] sysadminathome [dot] com.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Goldydocs provides a single web UI providing visibility into porridge temperature, chair size, and bed softness metrics! You can even find out who's been eating **your** porridge.

(Sadly, Goldydocs isn't a real project, but you can use this site as an example to create your own real websites with [Docsy](http://docsy.dev))
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/docsydocs" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/google/docsy-example" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/GoHugoIO" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
